#bookshelf {
  padding: 3rem;
  background-color: blanchedalmond;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-auto-rows: auto;
  gap: 2rem;
}

.book {
  background-color: gainsboro;
  border: 2px solid lightgray;
  padding: 2rem;
}

.book > h1 {

}

.book > p {

}